.book-list-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 414px) {
  .book-list-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
