<div class="book-list-container">
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
  <app-book-item></app-book-item>
</div>
