@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap");

$font-family-default: "Roboto", sans-serif;
$font-family-header-title: "Big Shoulders Display", cursive;
$font-size-default: 0.93rem;
$font-size-medium: 1.1rem;
$font-size-big: 1.6rem;
$background-color-default: #ecf0f1;
$background-color-header-dark: #526e92;
$background-color-light: #cad8eb;
$background-color-header-darker: #314258;
$background-color-footer-dark: #526e92;
$background-color-footer-darker: #314258;
$background-color-card: #e6eaee;
$text-primary-color-light: #ecf0f1;
$text-primary-color-dark: #363636;
$text-primary-color-alert: #ff4242;
$text-primary-color-success: #30a521;
$text-title-color-dark: #526e92;
$text-button-color-dark: #526e92;
$text-label-color-dark: #314258;
$box-shadow-default: 3px 3px 8px 3px rgba(0, 0, 0, 0.15);
$book-cover-img-width: 250px;
$book-cover-img-height: $book-cover-img-width * 1.6;
$border-color-light: #a9b0b8;
$background-color-button-disabled: #a9b0b8;
