@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap");

$font-family-default: "Roboto", sans-serif;
$font-family-header-title: "Big Shoulders Display", cursive;
$font-size-default: 0.93rem;
$background-color-default: #ecf0f1;
$background-color-header-dark: #526e92;
$background-color-header-darker: #314258;
$text-color-light: #ecf0f1;
$text-color-dark: #363636;
