<div class="shopping-cart-container">
  <h1 class="title">Shopping Cart</h1>
  <div class="cart-content" *ngIf="cart">
    <app-item-list
      [cartItems]="cart.items"
      *ngIf="cart.items.length !== 0"
    ></app-item-list>
    <div class="total-cost" *ngIf="cart.items.length !== 0">
      Total cost: {{ cart.totalCost | number: "1.0-2" }} $
    </div>
  </div>
  <div class="message-container" *ngIf="cart">
    <div class="message" *ngIf="cart.items.length === 0">
      Your cart is empty...
    </div>
  </div>
</div>
