<div class="book-item-container">
  <div class="book-cover-container">
    <img
      src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/4721/9781472154668.jpg"
      alt="book cover"
      class="book-cover"
    />
  </div>
  <div class="separator"></div>
  <div class="book-details">
    <h3 class="title">title</h3>
    <p class="detail">author</p>
    <p class="detail price">priceUSD</p>
  </div>
  <div class="add-to-cart-btn-container">
    <button>Add To Cart</button>
  </div>
</div>
