<div class="book-item-container">
  <div class="admin-options" *ngIf="adminUserLoggedIn">
    <button class="admin-option-button" title="Delete" (click)="onRemoveBook()">
      <img src="../../../../assets/images/bin_icon.png" alt="bin icon" />
    </button>
    <button class="admin-option-button" title="Edit" (click)="onEditBook()">
      <img
        src="../../../../assets/images/edit_icon.png"
        alt="edit icon"
        style="padding: 3px"
      />
    </button>
  </div>
  <a class="book-cover-container">
    <img
      src="{{ book.imgURL }}"
      alt="book cover"
      class="book-cover"
      title="{{ book.title }}"
      (click)="onBookDetails()"
    />
  </a>
  <div class="separator"></div>
  <div class="book-details-list">
    <h3
      class="detail-item title"
      (click)="onBookDetails()"
      title="{{ book.title }}"
    >
      {{
        book.title.length > 30 ? book.title.slice(0, 30) + "..." : book.title
      }}
    </h3>
    <p class="detail-item" title="{{ book.author }}">by {{ book.author }}</p>
    <p class="detail-item price">Price: {{ book.priceUSD }} $</p>
  </div>
  <app-add-to-cart-btn
    *ngIf="!adminUserLoggedIn"
    [book]="book"
    class="add-to-cart-btn-container"
  ></app-add-to-cart-btn>
</div>
