@import "../../../../sass/styles.scss";

.book-item-container {
  width: 250px;
  margin: 10px 5px;
  padding: 5px 5px 10px;
  background-color: $background-color-card;
  box-shadow: $box-shadow-default;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;

  .book-cover-container {
    width: 100%;
    height: 100%;

    .book-cover {
      @include book-cover;
    }
  }

  .separator {
    @include seperator-horizontal;
  }

  .book-details-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5px;

    .detail-item {
      max-height: 36px;
      font-size: $font-size-default * 1.1;

      &.title {
        width: fit-content;
        max-height: 46px;
        font-size: $font-size-default * 1.4;
        cursor: pointer;
        margin-bottom: 25px;
        overflow-y: hidden;
      }

      &.price {
        opacity: 0.8;
        font-weight: 600;
        margin-top: 20px;
      }
    }
  }

  .add-to-cart-btn-container {
    display: flex;
    justify-content: center;

    button {
      @include button-primary;
      margin-bottom: 0;
    }
  }

  .admin-options {
    @include admin-options;
  }
}

@media only screen and (min-width: 414px) {
  .book-item-container {
    position: relative;
    width: 187px;
    height: 450px;

    .book-details-list {
      // height: 123px;
      padding: 0;

      .title {
        margin: 0 auto;
        text-align: center;
      }
    }

    .add-to-cart-btn-container {
      position: absolute;
      width: 100%;
      bottom: 5px;
      left: 0;
    }
  }
}

@media only screen and (min-width: 1460px) {
  .book-item-container {
    width: 220px;
    height: 480px;
    margin: 15px;
    margin-top: 20px;
  }
}
