.app-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .main {
    max-width: 1600px;
    width: 100%;
    margin: 93px auto 0;
    padding: 20px 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .app-container {
    .main {
      margin-top: 106px;
    }
  }
}
