@import "../../../sass/styles.scss";

.book-new-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    @include title-primary;
  }

  .new-book-form {
    @include form-default;
  }
}
